# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 378378454a134efd40fbaaca7c11e980cc2df9b349a0481db9701d81d26ec5b0968f0d5cbf9045835d2a094ce0df69975e4dd8737559e5deab5cb8e9480620b3

test:
  secret_key_base: 1de5cb681f5bd9a67463b72946cb22db0ede4e4c5ec786e340aea195415b639edd5c7618d869a1e0e479f5bada446318154de610238778e8a8daceeb64983f82

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
